


<div class="col-md-10 col-lg-8 offset-3 mb-5" ng-controller="countryCtrl">
    <div class="alert alert-secondary shadow-soft mt-4" role="alert">
        <div class="d-flex justify-content-center display-3" style="color:darkblue">
            Country Operation Page
        </div>
    </div>
    <div class="alert alert-warning alert-dismissible fade show" role="alert" ng-show="apiMessage">
        {{apiMessage}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">&times;</button>
    </div>
    <div class="row">
        <div class="mb-5 col-8">
            <table class="table table-hover shadow-inset rounded">
                <thead>
                    <tr>
                        <th class="border-0">ID</th>
                        <th class="border-0">Country Name</th>
                        <th class="border-0 text-center">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="t in model.country">
                        <td>{{t.countryId}}</td>
                        <td>{{t.country}}</td>
                        <td class="d-flex justify-content-center">
                            <button type="button" ng-click="editType(t)" class="btn btn-icon-only btn-pill btn-facebook"><i class="fas fa-edit"></i></button>
                            <button type="button" ng-click="confirmDelete(t)" class="btn btn-icon-only btn-pill ml-2"><i class="fas fa-trash text-danger"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- Tab Nav -->
        <div class="col-4" style="float:right">
            <div class="nav-wrapper position-relative mb-4 mr-3">
                <form name="countryForm">
                    <input name="country" ng-maxlength="50" ng-model="typeObject.country" required="" placeholder="Country Add" type="text" class="form-control" />
                    <div class="text-danger" ng-show="!countryForm.country.$pristine && countryForm.country.$error.required">
                        Country Form is required!
                    </div>
                    <div class="text-danger" ng-show="!countryForm.country.$pristine && countryForm.country.$error.maxlength">
                        Country Name can be 30 char max!
                    </div>
                    <button type="submit" ng-click="createCountry(countryForm)" class="btn btn-block btn-primary btn-sm mt-1" ng-disabled="countryForm.$invalid">Save</button>
                </form>

            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="modal fade" id="delModal" tabindex="-1" role="dialog" aria-labelledby="modal-default" aria-hidden="true" style="display: none;">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 style="color:red;font-weight:bold" class="display-4 h6 modal-title mb-0 " >Are you want to Delete ?</h2>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>If you delete this data it's delete forever!!</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" ng-click="doDeleteType()" class="btn btn-sm btn-primary">OK</button>
                        <button type="button" class="btn btn-primary text-danger ml-auto" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of Modal Content -->
    </div>
</div>
