<div class="col-md-10 col-lg-8 offset-3 mb-5">
    <div class="alert alert-secondary shadow-soft mt-4" role="alert">
        <div class="d-flex justify-content-center display-3" style="color:darkblue">
            Data Operation Section of Your Resume
        </div>
    </div>
    <!-- Tab Nav -->
    <div class="nav-wrapper position-relative mb-4 mr-3">
        <ul class="nav nav-pills flex-column flex-sm-row" id="tabs-text" role="tablist">
            <li class="nav-item mr-sm-3 mr-md-0">
                <a class="nav-link mb-sm-3 mb-md-0 active" id="tabs-text-1-tab" data-toggle="tab" href="#/tabs-text-1" role="tab" aria-controls="tabs-text-1" aria-selected="true">Profile</a>
            </li>
            <li class="nav-item mr-sm-3 mr-md-0">
                <a class="nav-link mb-sm-3 mb-md-0" id="/#/tabs-text-2-tab" data-toggle="tab" href="#tabs-text-2" role="tab" aria-controls="tabs-text-2" aria-selected="false">Social site</a>
            </li>
            <li class="nav-item mr-sm-3 mr-md-0">
                <a class="nav-link mb-sm-3 mb-md-0" id="tabs-text-3-tab" data-toggle="tab" href="#tabs-text-3" role="tab" aria-controls="tabs-text-3" aria-selected="false">About Me</a>
            </li>
            <li class="nav-item mr-sm-3 mr-md-0">
                <a class="nav-link mb-sm-3 mb-md-0" id="tabs-text-4-tab" data-toggle="tab" href="#tabs-text-4" role="tab" aria-controls="tabs-text-3" aria-selected="false">services</a>
            </li>
            <li class="nav-item mr-sm-3 mr-md-0">
                <a class="nav-link mb-sm-3 mb-md-0" id="tabs-text-5-tab" data-toggle="tab" href="#tabs-text-5" role="tab" aria-controls="tabs-text-3" aria-selected="false">Experiennces</a>
            </li>
            <li>
                <img id="imagePreview" src="../Assets/images/avatar-1.svg" width="70" class="boximg">
            </li>

        </ul>
    </div>
    <!-- End of Tab Nav -->
    <!-- Tab Content -->
    <form>
        <div class="card shadow-inset bg-primary border-light p-4 rounded">
            <div class="card-body p-0">
                <div class="tab-content" id="tabcontent1">
                    <div class="tab-pane fade show active" id="tabs-text-1" role="tabpanel" aria-labelledby="tabs-text-1-tab">
                        <div class="row">
                            <div class="form-group col-6">
                                <label>Name</label>
                                <input type="text" required="" class="form-control" placeholder="Disabled input">
                            </div>
                            <div class="form-group col-6" style="float:right">
                                <label>Position</label>
                                <input type="text" class="form-control" placeholder="Your Position">
                            </div>
                            <div class="custom-file ">
                                <input type="file" class="custom-file-input" id="Imageone" aria-label="File upload">
                                <label class="custom-file-label" for="customFile">Choose file</label>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="tabs-text-2" role="tabpanel" aria-labelledby="tabs-text-2-tab">
                        <div class="form-group focused">
                            <label>
                                Social OR site
                                <i style="color:red; font-weight:bold" data-toggle="tooltip" data-placement="right" title="" data-original-title="just your user Name" class="fas fa-info-circle fa-sm"></i>
                            </label>
                            <input type="text" class="form-control" placeholder="Facebook" required="">
                            <input type="text" class="form-control my-1" placeholder="Twitter">
                            <input type="text" class="form-control" placeholder="GitHub">
                        </div>
                    </div>
                    <div class="tab-pane fade" id="tabs-text-3" role="tabpanel" aria-labelledby="tabs-text-3-tab">
                        <div class="form-group">
                            <label for="exampleFormControlTextarea1">About You</label>
                            <textarea class="form-control" placeholder="Enter your Text..." id="exampleFormControlTextarea1" rows="2"></textarea>
                        </div>
                        <div class="form-group">
                            <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Country</label>
                            <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
                                <option selected="">Choose...</option>
                                <option value="Bangladesh">Bangladesh</option>
                                <option value="Germany">Germany</option>
                                <option value="Canada">Canada</option>
                            </select>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="tabs-text-4" role="tabpanel" aria-labelledby="tabs-text-2-tab">
                        <div class="form-group focused">
                            <label for="validationServer01">Services</label>
                            <div class="row mx-1">
                                <input type="text" class="form-control col-6" placeholder="Service Name One" required="">
                                <input type="text" class="form-control col-6" placeholder="Service Name Two" required="">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="tabs-text-5" role="tabpanel" aria-labelledby="tabs-text-2-tab">
                        <div class="form-group mb-4">
                            <label>Education or Crouse</label>
                            <div class="row mx-1">
                                <input type="text" class="form-control col-6" placeholder="Education One" required="">
                                <input type="text" class="form-control col-6" placeholder="Education Two" required="">
                            </div>
                            <div class="row mx-1 mt-1">
                                <input type="text" class="form-control col-6" placeholder="Crouse Three" required="">
                                <input type="text" class="form-control col-6" placeholder="Crouse Four" required="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary mt-3" style="float:right; background-color:darkblue;color:white">
            <i class="far fa-edit"></i> Update
        </button>
        <button type="submit" class="btn btn-primary mt-3 d-flex justify-content-center" style="background-color:darkblue;color:white">
            Submit
        </button>

        <button type="button" class="btn btn-icon-only btn-pill btn-facebook mt-3" aria-label="facebook button" data-toggle="modal" data-target="#modal-default" title="Delete button">
            <span aria-hidden="true" class="fas fa-trash text-danger"></span>
        </button>
    </form>
    <!-- End of Tab Content -->
    <div class="col-md-4">
        <div class="modal fade" id="modal-default" tabindex="-1" role="dialog" aria-labelledby="modal-default" aria-hidden="true" style="display: none;">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 style="color:red;font-weight:bold" class="display-4 h6 modal-title mb-0" id="modal-title-default">Are you want to Delete?</h2>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>If you click the OK button, your resume will be completely deleted And you can't bring it back</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-sm btn-primary">OK</button>
                        <button type="button" class="btn btn-primary text-danger ml-auto" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of Modal Content -->
    </div>
</div>
