<div class="align-content-center my-1" ng-controller="resumeCtrl">
    <div class="row">
        <div class="alert alert-secondary shadow-soft mt-2 col-md-6 col-lg-6 mr-3 offset-3 " role="alert">
            <div class="d-flex justify-content-center display-3" style="color:darkblue">
                Make Your Resume
            </div>
        </div>
        <img id="imagePreview" src="../Assets/images/avatar-1.svg" width="120" class="boximg">
    </div>

    <div class="offset-3 container">
        <form name="resumeForm">
            <div class="row">
                <div class="col-lg-4 col-sm-5">
                    <!-- Form -->
                    <div class="form-group">
                        <label>Name</label>
                        <input ng-model="typeObject.name" name="name" type="text" required="" class="form-control" placeholder="Your Name Please">
                    </div>
                    <div class="form-group">
                        <label>Position</label>
                        <input ng-model="typeObject.position" name="position" type="text" class="form-control" placeholder="Your Position">
                    </div>
                    <div class="form-group focused">
                        <label>
                            Social OR site
                            <!--<i style="color:red; font-weight:bold" data-toggle="tooltip" data-placement="right" title="" data-original-title="Not https or http just your user Name" class="fas fa-info-circle fa-sm"></i>-->
                        </label>
                        <input ng-model="typeObject.socialorsiteA" name="socialorsiteA" type="text" class="form-control" placeholder="Facebook">
                        <input name="socialorsiteB" type="text" ng-model="typeObject.socialorsiteB" class="form-control my-1" placeholder="Twitter">
                        <input name="socialorsiteC" type="text" ng-model="typeObject.socialorsiteC" class="form-control" placeholder="GitHub">
                    </div>
                    <div class="form-group" ng-controller="countryCtrl">
                        <label class="my-1 mr-2">Country</label>
                        <select ng-model="typeObject.countryId" class="custom-select my-1 mr-sm-2">
                            <option selected="">Choose...</option>
                            <option ng-repeat="c in model.country" value="{{c.countryId}}">{{c.country}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-5 align-content-end">
                    <!-- Form -->
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">About You</label>
                        <textarea ng-model="typeObject.about" name="about" class="form-control" placeholder="Enter your Text..." rows="2"></textarea>
                    </div>
                    <div class="form-group focused">
                        <label for="validationServer01">Services</label>
                        <div class="row mx-1">
                            <input ng-model="typeObject.servicesA" name="servicesA" type="text" class="form-control col-6" placeholder="Service Name One" required="" />
                            <input ng-model="typeObject.servicesB" name="servicesB" type="text" class="form-control col-6" placeholder="Service Name Two" required="" />
                        </div>
                    </div>
                    <div class="form-group mb-4">
                        <label>Education or Crouse</label>
                        <div class="row mx-1">
                            <input ng-model="typeObject.educationorcrouseA" type="text" name="educationorcrouseA" class="form-control col-6" placeholder="Education One" required="" />
                            <input ng-model="typeObject.educationorcrouseB" type="text" name="educationorcrouseB" class="form-control col-6" placeholder="Education Two" required="" />
                        </div>
                        <div class="row mx-1 mt-1">
                            <input ng-model="typeObject.educationorcrouseC" type="text" name="educationorcrouseC" class="form-control col-6" placeholder="Crouse Three" required="" />
                            <input ng-model="typeObject.educationorcrouseD" type="text" name="educationorcrouseD" class="form-control col-6" placeholder="Crouse Four" required="" />
                        </div>
                    </div>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="Imageone" aria-label="File upload">
                        <label class="custom-file-label" for="customFile">Choose file</label>
                    </div>
                    <div class="mt-3">
                        <button type="submit" ng-click="updateResume(countryForm)" class="btn btn-primary col-8" style="background-color:darkblue; color:white"><i class="fas fa-save"></i> Update</button>
                        <button type="button" onclick="location.href='#!/dataaction'" class="btn btn-primary" style="float:right;background-color:red;color:white">Back <i class="fas fa-arrow-circle-right"></i></button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>